.p-column-filter-overlay {
  background: $bg-light;
  border: none;

  .p-column-filter-buttonbar {
    padding: 0;
  }
}

html {
  &.dark {
    body {
      .p-column-filter-overlay {
        background: $bg-dark;
      }
    }
  }
}